/************ GLOBALES ***************/
:root {
   --color-primary: rgb(43, 148, 151);
   --color-secundary: rgb(0, 119, 255, 0.089);
   --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

/*Esto es para establecer el tamaño de duente para todoa la pagina y para definir el tipo de fuente
 que tambien esta guardado arriba
 */
body {
   font-size: 1.6rem;
   font-family: var(--font);
}

img {
   width: 100%;
}

/************ PAGINA REPORTES ***************/

.main {
   display: flex;
}
.reports {
   display: grid;
   grid-template-columns: 75% 25%;
   grid-template-rows: 10% 60%;
   width: 70%;
   margin: 0 auto;
   padding: 0 auto;
}
.reports h2 {
   display: flex;
   align-items: center;
   justify-content: center;
}
.cont_reports {
   display: flex;
}
.graphics {
   grid-column: 1;
   grid-row: 2;
   margin: 0 auto;
}
.vehicle_type {
   margin-top: 1rem;
   margin-bottom: 2rem;
   display: flex;
   gap: 2rem;
}
.vehicle_type input,label {
   cursor: pointer;
}
.btn_reports {
   grid-column: 2;
   grid-row: 2;
   margin-left: 3rem;
}
.buttons h4  {
   margin-bottom: 1rem;
}
.buttons button {
   display: flex;
   margin-bottom: 1rem;
   background-color: var(--color-primary);
   border-style: none;
   padding: 5px 10px;
   border-radius: 1rem;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
}
.buttons button:hover {
   cursor: pointer;
   position: relative;
   bottom: 2px;
   box-shadow: -1px 1px 3px black;
}

