/*********** SEBASTIAN V **************/
/************ GLOBALES ***************/
:root {
      --color-primary: rgb(43, 148, 151);
      --color-secundary: rgb(0, 119, 255, 0.089);
      --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
 *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
} 
html {
      font-size: 62.5%;
}
body {
      font-size: 1.6rem;
      font-family: var(--font);
}
 /************ PAGINA FACTURAS ***************/

.matricula{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      display:flex;
      flex-direction: column;
}

.inputmat{
      margin-left: 150px;
      width: 30%;
      height: 150px;
      border-radius: 25px;
      font-size: 90px;
      text-align: center;
      background-color: white;
      text-transform: uppercase;
}

.inputs{
      display: block;
      margin-left: 650px;
}

.inputenterhour{
      height: 35px;
      width: 125px;
      text-align: center;
      border-radius: 10px;
}

.inputouthour{
      height: 35px;
      width: 125px;
      text-align: center;
      border-radius: 10px;
}

.hours{
      height: 35px;
      width: 125px;
      text-align: center;
      border-radius: 10px;
}

.list{
      margin-left: 800px;
      height: 35px;
      width: 125px;
      text-align: center;
      border-radius: 10px;
}

.botones{
      margin-left: 800px;
}

.submit{
      width: 125px;
      text-align: center;
}

.reset{
      width: 125px;
      text-align: center;
}

.decorar{
      color: black;
      background-color: white;
      border-radius: 6px;
      padding: 3.5px;
}

.decorar1{
      color: black;
      background-color: rgb(159, 192, 213);
      border-radius: 6px;
      padding: 3.5px;
      width: 80px;
      font-weight: bold;
}

.leftbox{
      margin-left: 970px;
      width: 30%;
      height: 150px;
      border-radius: 25px;
      font-size: 90px;
      text-align: center;
      background-color: white;
}

.tabla{
      background-color: white;
      text-align: center;
      border: 1px solid black;
      border-collapse: collapse;
      margin-left: 150px;
}

th, td{
      border: 1px solid black;
      padding: 0;
      width: 208px;
      height: 50px;
}

.primerafila{
      background-color: rgba(118, 200, 215, 0.495);
}