/************ GLOBALES ***************/
:root {
   --color-primary: rgb(43, 148, 151);
   --color-secundary: rgb(0, 119, 255, 0.089);
   --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

/*Esto es para establecer el tamaño de duente para todoa la pagina y para definir el tipo de fuente
 que tambien esta guardado arriba
 */
body {
   font-size: 1.6rem;
   font-family: var(--font);
}

img {
   width: 100%;
}

/************ PAGINA REPORTES ***************/

.main {
   display: flex;
}
.graphics {
   display: grid;
   grid-template-columns: 50% 50%;
   margin-top: 2rem;
   margin: 0 auto;
   column-gap: 4rem;
}

.graphics div {
   width: 35rem;
   display: flex;
   align-items: center;
}

