/*********** CAMILO **************/
/************ GLOBALES ***************/
:root {
    --color-primary: rgb(43, 148, 151);
    --color-secundary: rgb(0, 119, 255, 0.089);
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   }
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 } 

 html {
    font-size: 62.5%;
 }
 body {
    font-size: 1.6rem;
    font-family: var(--font) ;
 }

 *, *:before, *:after {
   box-sizing: inherit; /* hack para box model*/

 /************ PAGINA RESERVAS ***************/

.cabecera{
    display: flex;
    gap: 20px;
    background-color: var(--color-primary);
    padding: 5px 5px;
    border-radius: 2px;
    box-shadow: 4px 6px 2px;
    box-shadow: 1px 1px 3px black;
    border-radius: 0 0 10px 10px;
   }

 .logotipo img{
    width: 70px;
    height: 70px;
    padding-top: 25%;
    }

.logo-app img{
    width: 50%;
    justify-content: center;
    margin: 0 150%;
   }


 .contenedor{
   display:inline-flex;
    margin: 0;
    width: 2rem;
    height: 800px;
    background-color: rgba(175, 190, 190, 0.192);
    
   }
 
   
 .barra-central{
    background-color: rgba(175, 190, 190, 0.192);
    width: 900rem;
    height: 25rem;
    margin-top: 20px;
    padding: 20px;
    display: inline;
   }

   @media (min-width: 760px) {
      .barra-central{
      }
       
   }


.placa1 input{
    width: 50rem;
    height: 20rem;
    margin-left: 1%;
    border-radius: 15px;
   }

.form1{
    display: grid;
    width: 22rem;
    height: 20rem;
    margin-left: 11%;
    padding: 1px 2px;
   }

.placa2 input{
    width: 50rem;
    height: 20rem;
    margin-left: 1%;
    border-radius: 15px;
   }

 }

 .tablas{
   position: absolute;
   border:  1px solid black;
   top: 440px;
   left: 150px;
   height: 60%;
   width: 90%;
 }

 tr, th{
   position: relative;
   width: 20%;
   /* border: 1px solid black; */
 }

