/*********** CAMILO **************/
/************ GLOBALES **************/
main {
   display: flex;
}
html {
   overflow-y: hidden;
}
/************ PAGINA RESERVAS ***************/

.inputenterhour input, .inputouthour input, .hours input  {
   width: 100%;
}

/************ PAGINA FACTURAS ***************/
.nav_lateral {
   height: var(--height-main);
}
.facturas, .mensualidad {
   width: var(--width-main);
   height: var(--height-main);
}
.form_facturas, .form_mensualidad {
   display: flex;
   width: 95%;
   margin: 3rem auto;
   justify-content: space-between;
   gap: 2rem;

}
.form_facturas > div, .mensualidad > div{
   display: flex;
   justify-content: space-between;
   gap: 2rem;
   width: 100%;
}

.cajaderecha, .cajaizquierda {
   display: flex;
   width: 100%;
}

.form_facturas .inputmat, .form_facturas .leftbox {
   width: 100%;
   height: 100%;
   border-radius: 25px;
   font-size: 7rem;
   text-align: center;
   padding: 0 1rem;
   background-color: white;
   text-transform: uppercase;
}
.inputmat, .leftbox, .decorar{
   border: 1px solid black;
}
.leftbox {
   pointer-events: none;
}

.datos, .tipoybotones {
   max-width: 11rem;
   min-width:11rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.inputenterhour, .inputouthour, .hours {
   width: 100%;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
}

.list {
   display: flex;
   flex-direction: column;
}
.list div {
   display: flex;
   align-items: center;
   gap: 1rem;
}
.list label:hover, .list input:hover{
   cursor: pointer;
}
.list legend {
   font-size: 17px;
   font-weight: bold;
   text-align: left;
   margin-bottom: 0;
}

.submit, .reset {
   text-align: center;
   margin-top: 5px;
} 

.decorar {
   color: black;
   background-color: white;
   border-radius: 5px;
   width: 90%;
   text-align: center;
}
.decoration1 {
   padding: 2px;
   margin-bottom: 3px;
}

.tablacompleta {
   width: 100%;
   padding-top: 1rem;
   height: 36rem;
   overflow-y: auto;
   overflow-x: auto;
}

.tabla {
   background-color: white;
   text-align: center;
   border-collapse: collapse;
   width: 95%;
   margin: 0 auto;
   margin-bottom: 1rem;
}

th,
td {
   border: 1px solid black;
   padding: 0;
   width: 208px;
   height: 50px;
}

.primerafila {
   background-color: #76C9D7;
}
.delete{
   width: 3rem;
}
.delete:hover {
   position: relative;
   bottom: 2px;
   right: 2px;
   cursor: pointer;
}
/************ PAGINA MENSUALIDAD ***************/

/* caja de registro */

.formularios {
   width: 100%;
   padding: 3rem 5rem;
}
.caja-reg-principal {
   height: var(--height-main);
   overflow-y: auto;
   width: 100%;
   padding-bottom: 2rem;
}

.title {
   text-align: center;
   margin-top: 20px;
}

.caja-Reg {
   background-color: var(--color-Bar-nav);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 55rem;
   border-radius: 20px;
   color: white; 
   gap: 2rem;   
}

.dos-section {
   display: flex;
   justify-content: center;
   gap: 4rem;
}

.seccion1 > div, .seccion2 > div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 1rem;
}

#Hombre, #Mujer {
   width: 10px;
}

.seccion1, .seccion2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
 .seccion2 select {
   width: 100%;
   height: 19px;  
   border-radius: 0px;
 }
div .radio {
   flex-direction: row;
   justify-content: start;
   gap: 2rem;
}
.radio div {
   display: flex;
   flex-direction: column;
}
.radio div div {
   display: flex;
   flex-direction: row;
}

div .botones {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
   gap: 20px;
}

@media (max-width: 960px) {
   .navbar-toggler {
      display: block;
   }
   .logo {
      display: none;
   }
   .nav_lateral {
      display: none;
   }
   .facturas, .mensualidad{
         width: 100%;
         margin: 0 auto;
   }
}
@media (max-width: 800px) {
   .dos-section {
      gap: 5rem;
      width: 100%;
   }
}

@media (max-width: 768px) {
   
   .form_facturas, .mensualidad {
         flex-direction: column;
   }
   .form_facturas > div:nth-child(2), .mensualidad > div:nth-child(2){
         flex-direction: row-reverse;
   }
}
@media (max-width: 576px) {
   .caja-Reg {
      width: 80%;
   }
   .dos-section {
      flex-direction: column;
      gap: 0;
      width: 100%;
   }
}