/*********** SEBASTIAN V **************/
/************ GLOBALES ***************/



/************ PAGINA FACTURAS ***************/

.facturas, .mensualidad {
      width: var(--width-main);
      height: var(--height-main);
}
.form_facturas, .form_mensualidad {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      height: 15rem;
      margin: 3rem auto;
      justify-content: space-between;
      gap: 1rem;

}

.cajaderecha, .cajaizquierda {
      width: 35%;
}

.inputmat, .leftbox {
      width: 100%;
      height: 150px;
      border-radius: 25px;
      font-size: 90px;
      text-align: center;
      padding: 0 1rem;
      background-color: white;
      text-transform: uppercase;
}
.inputmat, .leftbox, .decorar{
      border: 1px solid black;
}

.datos {
      width: 11.5rem;
      height: 100%;
}

.inputenterhour {
      height: 55px;
      width: 100%;
      border-radius: 10px;
}

.inputouthour {
      height: 55px;
      width: 100%;
      border-radius: 10px;
}

.hours {
      height: 55px;
      width: 100%;
      border-radius: 10px;
}

.tipoybotones {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
} 

.list {
      display: flex;
      flex-direction: column;
      gap: 3px;
} 
.list legend {
      font-size: 17px;
      font-weight: bold;
      text-align: left;
}
 
.submit {
      text-align: center;
}

.reset {
      text-align: center;
} 

.decorar {
      color: black;
      background-color: white;
      border-radius: 5px;
      width: 90%;
      text-align: center;
}
.decoration1 {
      padding: 2px;
      margin-bottom: 3px;
}

.tablacompleta {
      width: 100%;
      padding-top: 1rem;
}

.tabla {
      background-color: white;
      text-align: center;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
}

th,
td {
      border: 1px solid black;
      padding: 0;
      width: 208px;
      height: 50px;
}

.primerafila {
      background-color: #76C9D7;
}
.delete{
      width: 3rem;
}
.delete:hover {
      position: relative;
      bottom: 2px;
      right: 2px;
      cursor: pointer;
}
 /************ PAGINA MENSUALIDAD ***************/
