/*********** SEBASTIAN V **************/
/************ GLOBALES ***************/
main {
      display: flex;
}
html {
      overflow: auto;
}
.inputenterhour input, .inputouthour input, .hours input  {
      width: 100%;
      font-size: 1.3rem;
}

#ltotal_hours {
      pointer-events: none;
}

/************ PAGINA FACTURAS ***************/

.facturas, .mensualidad {
      width: var(--width-main);
      height: var(--height-main);
}
.form_facturas, .form_mensualidad {
      display: flex;
      width: 95%;
      margin: 3rem auto;
      justify-content: space-between;
      gap: 2rem;

}
.form_facturas > div, .mensualidad > div{
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
}

.cajaderecha, .cajaizquierda {
      display: flex;
      width: 100%;
      height: 15rem;
}

.form_facturas .inputmat, .form_facturas .leftbox {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      font-size: 7rem;
      text-align: center;
      padding: 0 1rem;
      background-color: white;
      text-transform: uppercase;
}
.inputmat, .leftbox, .decorar{
      border: 1px solid black;
}
.leftbox {
      pointer-events: none;
}

.datos, .datos-men, .datos-fac, .tipoybotones {
      max-width: 11rem;
      min-width:11rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}
.datos-men, .datos-fac {
      justify-content: space-around;
}

.inputenterhour, .inputouthour, .hours {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
}

.list {
      display: flex;
      flex-direction: column;
}
.list div {
      display: flex;
      align-items: center;
      gap: 1rem;
}
.list label:hover, .list input:hover{
      cursor: pointer;
}
.list legend {
      font-size: 17px;
      font-weight: bold;
      text-align: left;
      margin-bottom: 0;
}

.submit, .reset {
      text-align: center;
      margin-top: 5px;
} 

.decorar {
      color: black;
      background-color: white;
      border-radius: 5px;
      width: 90%;
      text-align: center;
}
.decoration1 {
      padding: 2px;
      margin-bottom: 3px;
}

.tablacompleta {
      width: 100%;
      padding-top: 1rem;
      height: 36rem;
      overflow-y: auto;
      overflow-x: auto;
}

.tabla {
      background-color: white;
      text-align: center;
      border-collapse: collapse;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 1rem;
}

th,
td {
      border: 1px solid black;
      padding: 0;
      width: 208px;
      height: 50px;
}

.primerafila {
      background-color: #76C9D7;
}
.delete{
      width: 3rem;
}
.delete:hover {
      position: relative;
      bottom: 2px;
      right: 2px;
      cursor: pointer;
}
 /************ PAGINA MENSUALIDAD ***************/

@media (max-width: 960px) {
      .navbar-toggler {
            display: block;
      }
      .logo {
            display: none;
      }
      .nav_lateral {
            display: none;
      }
      .facturas, .mensualidad{
            width: 100%;
            margin: 0 auto;
      }
}
@media (max-width: 768px) {
      .form_facturas, .mensualidad {
            flex-direction: column;
      }
      .form_facturas > div:nth-child(2), .mensualidad > div:nth-child(2){
            flex-direction: row-reverse;
      }
}

/* RESERVA CLIENTE */
.escoger{
      display: flex;
      border-radius: 10px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-items: center;
      background-color: rgb(78, 100, 119);
      width: 100%;
}

.escoger div{
      background-color:  rgb(169, 190, 208);
      width: 100px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
      border: 1px solid black;
      flex-grow: 100%;
}