/************ GLOBALES ***************/

main {
   display: flex;
}
html {
   overflow: hidden;
}
/************ PAGINA REPORTES ***************/

.reports {
   display: grid;
   grid-template-columns: 70% 20%;
   grid-template-rows: 10% 70%;
   justify-content:  center;
   align-content: center;
   width: var(--width-main);
   height: var(--height-main);
}
.reports h2 {
   display: flex;
   align-items: center;
   justify-content: center;
}
.graphics {
   grid-column: 1;
   grid-row: 2;
   margin: 0 auto;
   display: flex;
   align-items: center;
}
.graphics img {
   margin: 0 auto;
   width: 40rem;
}
.type-veh {
   margin-top: 1rem;
   margin-bottom: 2rem;
   display: flex;
   flex-direction: column;
}
.type-veh input,label {
   cursor: pointer;
}
.type > aside {
   display:flex;
   align-items: center;
   gap: 1rem;
}
.btn_reports {
   grid-column: 2;
   grid-row: 2;
   margin-top: 4.2rem;
}
.buttons h4  {
   margin-bottom: 1rem;
}
.buttons button {
   margin-bottom: 1rem;
}

/* REGISTRO DE CLIENTE */
.bg-customer-regis{
   background-image: url(../img/fondo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}
.form {
   width: 100%;
   height: 100vh;
   overflow-y: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bg-form-cust{
   width: 55rem;
   margin: 0 auto;
   background-color: var(--color-Bar-nav-op);
   border-radius: 2rem;
   color: white;
   padding-top: 5px;
   padding-bottom: 4rem;
}
.bg-form-cust > aside{
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
}
.bg-form-cust > aside a{
   position: relative;
   left: 4rem;
}
.bi{
   color: rgb(218, 218, 218);
   font-size: 2rem;
   cursor: pointer;
}
.bi:hover {
   color: white;
}
.form-cust {
   display: flex;
   gap: 2rem;
   margin: 0 4rem;
}
.col > aside {
   display: flex;
   flex-direction: column;
}
.col > aside {
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
}
aside .gender {
   flex-direction: row;
   gap: 2rem;
}

aside .btn-cust{
   flex-direction: row;
   justify-content: space-between;
}

.btn-cust input {
   margin-top: 1.6rem;
}
@media (max-width: 768px) {
    .nav_lateral {
      display: none;
    }
    .navbar-toggler {
      display: block;
   }
   .logo {
      display: none;
   }
    .reports {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 2rem;
    }
    .btn_reports {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}
@media (max-width: 576px) {
   .reports {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      overflow-y: auto;
      align-content: start;
   }
   .reports h2 {
      grid-column: 1;
      grid-row: 1;
      margin: 2rem 0;
   }
   .btn_reports {
      grid-column: 1;
      grid-row: 2;
      flex-direction: row;
      align-items: start;
      margin: 0 auto;
      gap: 10rem;
      margin-bottom: 1rem;
   }
   .graphics {
      grid-row: 3;
   }
   .graphics img {
      width: 35rem;
   }
   .bg-form-cust {
      width: 80%;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
   }
   .form-cust{
      flex-direction: column;
      gap: 0;
   }
   aside .btn-cust{
      justify-content: space-around;
   }
   .form {
      justify-content: flex-start;
      padding-top: 3rem;
   }
}
@media (max-width: 400px) {
   aside .btn-cust{
      justify-content: space-between;
   }
   .graphics img {
      width: 30rem;
   }
}