:root {
    --color-primary: rgb(43, 148, 151);
    --color-Bar-nav: rgb(78, 100, 119);
    --color-secundary: rgb(0, 119, 255, 0.089);
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    --height-main: calc(100vh - 50px);
    --width-main: calc(100vw - 150px);
 }
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 } 
 html {
    font-size: 62.5%;
 }
 body {
    font-size: 1.6rem;
    font-family: var(--font) ;
    background-color: var(--color-secundary);
 }
 img {
   width: 100%;
 }
/************ GLOBALES ***************/
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2rem;
   padding: 5px 10px;
   background-color: var(--color-primary);
   width: 100%;
   height: 5rem;
}

.logo {
   width: 4rem;
}

.logo a {
   display: flex;
   align-items: center;
}
.logo_cssj{
   width: 11rem;
   height: 4rem;
}
.logo_cssj a {
   display: flex;
}
.logout {
   width: 3rem;
   height: 3rem;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.logout a {
   height: 3rem;
}
.nav_lateral {
   float: left;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--color-Bar-nav);
   color: white;
   width: 15rem;
   padding-top: 1rem;
   margin-top: 1px;
   border-radius: 0px 20px 0px 0px;
}

.nav_lateral a {
   display: flex;
   margin: 1rem 0;
   text-decoration: none;
   color: white;
   font-weight: bold;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 100%;
}

.nav_lateral a:hover {
   background-color: rgb(118, 201, 215);
   box-shadow: black;
   padding: 10px;
   border-radius: 12px;
   font-size: 1.65rem;
}

.button {
   display: flex;
   width: 8rem;
   background-color: var(--color-primary);
   border-style: none;
   padding: 5px 10px;
   border-radius: 7px;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
   justify-content: center;
   box-shadow: 1px 1px 3px rgb(34, 34, 34);
   cursor: pointer;
}
.button:hover {
   position: relative;
   bottom: 1px;
   right: 1px;
   box-shadow: 3px 3px 6px black;
}