<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Configuración del conjunto de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configuración de la vista para dispositivos móviles -->
    <title>Mensualidad</title>
    <!-- Título de la página -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <!-- Icono de la pestaña -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Enlace a las fuentes de iconos de Bootstrap -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Enlace a la hoja de estilos personalizada -->
    <link rel="stylesheet" href="css/style2.css">
    <!-- Enlace a otra hoja de estilos personalizada -->
</head>

<body>
    <!-- Cuerpo de la página -->
    <header class="header navbar">
        <!-- Encabezado de la página con clase específica para la barra de navegación -->
        <aside class="container-fluid">
            <!-- Contenedor del encabezado -->
            <aside class="logo">
                <!-- Sección del logo -->
                <a href="disponibilidad.html">
                    <!-- Enlace al inicio -->
                    <img src="img/logo.png" alt="Logo parqueadero">
                    <!-- Imagen del logo -->
                </a>
            </aside>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <!-- Botón de hamburguesa para dispositivos móviles -->
                <svg class="icon-menu" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50">
                    <!-- Icono del botón de menú -->
                    <path
                        d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z">
                    </path>
                </svg>
            </button>
            <aside class="logo_cssj">
                <!-- Sección del logo alternativo -->
                <a href="disponibilidad.html">
                    <!-- Enlace al inicio -->
                    <img src="img/logo_parqueadero.png" alt="Logo parqueadero">
                    <!-- Imagen del logo -->
                </a>
            </aside>
            <aside class="logout">
                <!-- Sección de cierre de sesión -->
                <a href="index.html">
                    <!-- Enlace para cerrar sesión -->
                    <img src="img/signout.png" alt="Cierre de seccion" title="Cerrar Sesion">
                    <!-- Icono de cierre de sesión -->
                </a>
            </aside>
            <aside class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- Sección para el menú desplegable en dispositivos móviles -->
                <aside class="offcanvas-body">
                    <!-- Cuerpo del menú desplegable -->
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    <!-- Botón para cerrar el menú desplegable -->
                    <aside class="nav-lat">
                        <!-- Sección de navegación lateral -->
                        <a href="disponibilidad.html">Disponibilidad</a>
                        <!-- Enlace a la página de disponibilidad -->
                        <a href="entrada.html">Entrada</a>
                        <!-- Enlace a la página de entrada -->
                        <a href="salida.html">Salida</a>
                        <!-- Enlace a la página de salida -->
                        <a class="active" href="#">Mensualidad</a>
                        <!-- Enlace a la página de mensualidad con estado activo -->
                        <a href="reservas.html">Reservas</a>
                        <!-- Enlace a la página de reservas -->
                        <a href="reportes.html">Reportes</a>
                        <!-- Enlace a la página de reportes -->
                        <a href="registro.html">Registro</a>
                        <!-- Enlace a la página de registro -->
                        <a href="ayuda.html">Ayuda</a>
                        <!-- Enlace a la página de ayuda -->
                        <a href="politicas.html">Políticas</a>
                    </aside>
                </aside>
            </aside>
        </aside>
    </header>

    <main class="main">
        <aside class="nav_lateral">
            <a href="disponibilidad.html">Disponibilidad</a>
            <a href="entrada.html">Entrada</a>
            <a href="salida.html">Salida</a>
            <a  class="active" href="#">Mensualidad</a>
            <a href="reservas.html">Reservas</a>
            <a href="reportes.html">Reportes</a>
            <a href="registro.html">Registro</a>
            <a href="ayuda.html">Ayuda</a>
            <a href="politicas.html">Políticas</a>
        </aside>
        <!-- Input para ingresar datos -->
        <aside class="mensualidad">
            <form class="form_facturas">
                <aside>
                    <aside class="cajaderecha">
                        <label for="lmatricula"></label>
                        <input class="inputmat" type="text" name="matricula" id="lmatricula" placeholder="PLACA" maxlength="6">
                    </aside>
                    <!-- Inputs horas -->
                    <aside class="datos-men">
                        <aside class="inputenterhour">
                            <label for="lhora_entrada">Día Entrada</label>
                            <input class="decorar hora_entrada" class="decoration1" type="date" name="hora_entrada"
                                id="lhora_entrada">
                        </aside>
                        <aside class="inputouthour">
                            <label for="lhora_salida">Día Salida</label>
                            <input class="decorar hora_salida" type="date" name="hora_salida">
                        </aside>
                    </aside>
                </aside>
                <!-- Escoger moto/carro -->
                <aside>
                    <aside class="tipoybotones">
                        <aside class="list">
                            <legend>Tarifa</legend>
                            <aside class="moto">
                                <label for="lmoto">Moto</label>
                                <input type="radio" name="Tarifa" id="lmoto" value="Moto">
                            </aside>
                            <aside class="carro">
                                <label for="lcarro">Carro</label>
                                <input type="radio" name="Tarifa" id="lcarro" value="carro">
                            </aside>
                        </aside>
                        <!-- Botones para guardar y reset -->
                        <aside class="submit">
                            <input class="button" type="submit" value="Imprimir">
                        </aside>
                        <aside class="reset">
                            <input class="button" type="reset" value="Guardar">
                        </aside>
                    </aside>
                    <!-- Caja izquierda -->
                    <aside class="cajaizquierda">
                        <label for="leftbox"></label>
                        <input class="leftbox disable" type="text" name="izqcaja" id="leftbox" placeholder="$20.000">
                    </aside>
                </aside>
            </form>
            <!-- tabla -->
            <aside class="tablacompleta ">
                <table class="tabla">
                    <thead>
                        <tr class="primerafila">
                            <th>Placa</th>
                            <th>Tarifa</th>
                            <th>Día Entrada</th>
                            <th>Día Salida</th>
                            <th>Total Días</th>
                            <th>Recibo</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MOP487</td>
                            <td>Carro</td>
                            <td>03/04/2024</td>
                            <td>20/04/2024</td>
                            <td>17 Días</td>
                            <td><a href="img/mensualidad_1.png" target="_blank">MOP487</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>LWC65B</td>
                            <td>Moto</td>
                            <td>06/07/2024</td>
                            <td>05/08/2024</td>
                            <td>29 Días</td>
                            <td><a href="img/mensualidad_2.png" target="_blank">LWC65B</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>DEC165</td>
                            <td>Carro</td>
                            <td>05/06/2024</td>
                            <td>05/07/2024</td>
                            <td>30 Días</td>
                            <td><a href="img/mensualidad_3.png">DEC165</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>BWC690</td>
                            <td>Carro</td>
                            <td>15/03/2024</td>
                            <td>14/04/2024</td>
                            <td>30 Días</td>
                            <td><a href="#">BWC690</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>DEC165</td>
                            <td>Carro</td>
                            <td>20/05/2024</td>
                            <td>19/06/2024</td>
                            <td>30 Días</td>
                            <td><a href="#">DEC165</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>BWC690</td>
                            <td>Carro</td>
                            <td>10/07/2024</td>
                            <td>09/08/2024</td>
                            <td>30 Días</td>
                            <td><a href="#">BWC690</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>DEC165</td>
                            <td>Carro</td>
                            <td>01/09/2024</td>
                            <td>01/10/2024</td>
                            <td>30 Días</td>
                            <td><a href="#">DEC165</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>BWC690</td>
                            <td>Carro</td>
                            <td>10/04/2024</td>
                            <td>05/05/2024</td>
                            <td>25 Días</td>
                            <td><a href="#">BWC690</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                        <tr>
                            <td>DEC165</td>
                            <td>Carro</td>
                            <td>12/06/2024</td>
                            <td>10/07/2024</td>
                            <td>28 Días</td>
                            <td><a href="#">DEC165</a></td>
                            <td><img class="delete" src="img/delete.png" alt=""></td>
                        </tr>
                    </tbody>
            </aside>
        </aside>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>