/* CORRECIONES DE ESTILOS */
body.swal2-height-auto{
    min-height: 100vh;
}
.swal2-show {
    font-size: 1.6rem;
}

/* ESTILOS DEL LOGIN */
.body-login {
    background-image: url(../img/fondo.jpg);
    /* Imagen de fondo */
    background-repeat: no-repeat;
    /* No repetir la imagen de fondo */
    background-size: cover;
    /* Cubrir el área completa del contenedor */
    background-position: center;
    /* Posicionar la imagen de fondo en el centro */
    height: 100vh;
    /* Altura igual al 100% de la altura del viewport */
    display: flex;
    /* Mostrar como un contenedor flexible */
    align-items: center;
    /* Alinear elementos verticalmente */
    justify-content: center;
    /* Alinear elementos horizontalmente */
}
.login {
    width: 100%;
    display: flex;
    justify-content: center;
}
.usuario {
    border-bottom: 2px solid rgb(0, 0, 0);
    /* Borde inferior */
    margin-bottom: 2rem;
    /* Margen inferior */
    display: flex;
    /* Mostrar como contenedor flexible */
    flex-direction: column-reverse;
    /* Dirección de la columna invertida */
}

/* Estilos para la entrada de texto del usuario */
.usuario input {
    width: 100%;
    /* Ancho completo */
    height: 25px;
    /* Altura */
    border: none;
    /* Sin borde */
    background: none;
    /* Fondo transparente */
    outline: none;
    /* Sin contorno al enfocar */
    cursor: pointer;
}

/* Estilos para la etiqueta del campo de usuario */
.usuario label {
    color: rgb(255, 255, 255);
    /* Color del texto */
    cursor: pointer;
    /* Cambiar el cursor a puntero */
}

/* Estilos para la etiqueta del campo de usuario cuando está enfocado */
.usuario input:focus~label {
    position: relative;
    /* Posición relativa */
    bottom: 1px;
    /* Desplazamiento hacia abajo */
    color: #3c3241;
    /* Cambio de color del texto */
    font-size: 16.5px;
    /* Cambio de tamaño de fuente */
}

/* Estilos para el formulario de inicio de sesión */
.formulario {
    max-width: 400px;
    width: 100%;
    margin: 2rem;
    /* Ancho del formulario */
    background: rgba(43, 147, 151, 0.7);
    /* Color de fondo con transparencia */
    border-radius: 10px;
    /* Radio de borde */
}

/* Estilos para el contenedor de imagen */
.container {
    display: flex;
    /* Mostrar como un contenedor flexible */
    justify-content: center;
    /* Alinear elementos horizontalmente */
    align-items: center;
    /* Alinear elementos verticalmente */
    width: 200px;
    /* Ancho del contenedor */
    margin: 0 auto;
    /* Margen automático a los lados */
}

/* Estilos para la imagen dentro del contenedor */
.container img {
    max-width: 100%;
    /* Ancho máximo de la imagen */
    max-height: 100%;
    /* Altura máxima de la imagen */
}

/* Estilos para el encabezado del formulario */
.formulario h1 {
    text-align: center;
    /* Alinear el texto al centro */
    padding: 5px;
    /* Relleno */
    border-bottom: 1px solid rgb(41, 38, 38);
    /* Borde inferior */
    color: white;
    /* Color del texto */
    pointer-events: none;
}

/* Estilos para el formulario dentro del contenedor */
.formulario form {
    padding: 0 40px;
    /* Relleno horizontal */
}

.reestablecer {
    display: block;
    /* Mostrar como bloque */
    margin: 3rem 0;
    /* Margen superior e inferior */
    cursor: pointer;
    /* Cambiar el cursor a puntero */
    color: white;
}

/* Estilos para el botón de inicio de sesión */
form .btn_login {
    width: 100%;
    /* Ancho completo */
    height: 50px;
    /* Altura */
    margin-bottom: 25px;
    /* Margen inferior */
    border: 1px solid;
    /* Borde de 1 píxel */
    background: #7cc2c7b9;
    /* Color de fondo */
    border-radius: 25px;
    /* Radio de borde */
    font-size: 18px;
    /* Tamaño de fuente */
    color: rgb(255, 255, 255);
    /* Color del texto */
    cursor: pointer;
    /* Cambiar el cursor a puntero */
    outline: none;
    /* Sin contorno al enfocar */
    transition: background 0.3s, border-color 0.3s, color 0.3s;
    /* Transiciones suaves */
    border-color: #7cc2c7b9;
    /* Color del borde */
}

/* Estilos para el botón de inicio de sesión cuando se pasa el cursor sobre él */
.btn_login:hover {
    background: #064adf;
    /* Cambio de color de fondo */
    border-color: #064adf;
    /* Cambio de color del borde */
    color: #fff;
    /* Cambio de color del texto */
}