/* Definición de variables CSS */
:root {
   --color-primary: rgb(43, 148, 151); /* Color primario */
   --color-Bar-nav: rgb(78, 100, 119); /* Color de la barra de navegación */
   --color-Bar-nav-op: rgba(78, 100, 119, 0.85); /* Color de la barra de navegación con opacidad */
   --color-secundary: rgb(0, 119, 255, 0.089); /* Color secundario con opacidad */
   --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Fuente principal */
   --height-main: calc(100vh - 45px); /* Altura principal */
   --width-main: calc(100vw - 150px); /* Ancho principal */
}

/* Reset de estilos para todos los elementos */
* {
   box-sizing: border-box; /* Todos los elementos incluyen el borde y el relleno en su tamaño total */
   padding: 0; /* Eliminar relleno */
   margin: 0; /* Eliminar margen */
}

/* Establecer el tamaño de fuente base para el documento */
html {
   font-size: 62.5%; /* Establecer tamaño de fuente base en 10px (para facilitar cálculos) */
}

/* Estilos generales para el cuerpo del documento */
body {
   font-size: 1.6rem; /* Tamaño de fuente base */
   font-family: var(--font); /* Fuente principal */
   background-color: var(--color-secundary); /* Color de fondo secundario */
}

/* Estilos para ciertos elementos de texto */
h1, h2, h3, p {
   font-family: var(--font); /* Fuente principal */
}

/* Estilos para las imágenes */
img {
   width: 100%; /* Imágenes ocupan el 100% del ancho del contenedor */
}

/* Estilos para los campos de entrada, excepto los botones */
input:not(.button), select{
   height: 27px; /* Altura de los campos de entrada */
   border: none;
   border-radius: 5px;
}

/************ GLOBALES ***************/

/* Estilos para la cabecera */
.header {
   display: flex; /* Mostrar elementos en línea */
   justify-content: space-between; /* Distribuir el espacio sobrante entre los elementos */
   align-items: center; /* Alinear elementos verticalmente */
   background-color: var(--color-primary); /* Color de fondo */
   width: 100%; /* Ancho completo */
   height: 5rem; /* Altura */
}

/* Estilos para el contenido principal */
.main {
   height: var(--height-main); /* Altura principal */
}
.logo_cssj{
   width: 11rem;
   height: 4rem;
}
/* Estilos para el logo */
.logo {
   width: 4rem; /* Ancho del logo */
}

/* Estilos para el enlace del logo */
.logo a {
   display: flex; /* Mostrar elementos en línea */
   align-items: center; /* Alinear elementos verticalmente */
}

/* Estilos para el botón de logout */
.logout {
   width: 3rem; /* Ancho */
   height: 3rem; /* Altura */
   display: flex; /* Mostrar elementos en línea */
   align-items: center; /* Alinear elementos verticalmente */
   cursor: pointer; /* Cambiar cursor a mano */
}

/* Estilos para el enlace del botón de logout */
.logout a {
   height: 3rem; /* Altura */
}

/* Estilos para la barra lateral de navegación */
.nav_lateral {
   float: left; /* Flotar a la izquierda */
   display: flex; /* Mostrar elementos en línea */
   flex-direction: column; /* Dirección de la columna */
   align-items: center; /* Alinear elementos verticalmente */
   background-color: var(--color-Bar-nav); /* Color de fondo */
   color: white; /* Color del texto */
   min-width: 15rem; /* Ancho mínimo */
   padding-top: 1rem; /* Relleno superior */
}

/* Estilos para los enlaces de la barra lateral */
.nav_lateral a {
   display: flex; /* Mostrar elementos en línea */
   margin: 5px 0; /* Margen */
   text-decoration: none; /* Sin decoración de texto */
   color: white; /* Color del texto */
   font-weight: bold; /* Peso de la fuente */
   align-items: center; /* Alinear elementos verticalmente */
   height: 30px; /* Altura */
   width: 100%; /* Ancho */
   padding-left: 2rem;
}

/* Estilos para los enlaces de la barra lateral al pasar el cursor */
.nav_lateral a:hover, .active, .nav-lat a:hover {
   background-color: rgb(118, 201, 215); /* Cambiar color de fondo al pasar el cursor */
   font-size: 1.65rem; /* Cambiar tamaño de fuente al pasar el cursor */
}

/* Estilos para el botón */
.button {
   display: flex; /* Se muestra como un contenedor flexible */
   width: 8rem; /* Ancho del botón */
   background-color: var(--color-primary); /* Color de fondo del botón */
   border-style: none; /* Sin estilo de borde */
   padding: 5px 10px; /* Relleno interior */
   border-radius: 7px; /* Radio de borde */
   color: white; /* Color del texto */
   font-size: 1.5rem; /* Tamaño de la fuente */
   font-weight: bold; /* Peso de la fuente */
   justify-content: center; /* Alinear contenido horizontalmente */
   box-shadow: 1px 1px 3px rgb(34, 34, 34); /* Sombra */
   cursor: pointer; /* Cambiar el cursor a mano */
}

/* Estilos para el botón al pasar el cursor */
.button:hover {
   position: relative; /* Cambiar la posición */
   bottom: 1px; /* Desplazar ligeramente hacia abajo */
   right: 1px; /* Desplazar ligeramente hacia la derecha */
   box-shadow: 3px 3px 6px black; /* Cambiar la sombra */
}

/* BOOSTRAP */
.navbar-toggler {
   display: none; /* Ocultar el botón de alternar la barra de navegación de Bootstrap */
}
/* Estilos para el cuerpo del offcanvas */
.offcanvas-body {
   width: 100%; /* Ancho completo */
   padding: 0; /* Sin relleno */
}

/* Estilos para el offcanvas que se despliega desde el inicio */
.offcanvas.offcanvas-start {
   width: 20rem; /* Ancho del offcanvas */
   background-color: var(--color-Bar-nav); /* Color de fondo del offcanvas */

   border: none; /* Sin borde */
   justify-content: start; /* Alinear contenido al inicio */
}

/* Estilos para los enlaces dentro del offcanvas */
.offcanvas.offcanvas-start  a {
   display: flex; /* Se muestra como un contenedor flexible */
   margin: 5px 0; /* Margen superior e inferior */
   text-decoration: none; /* Sin decoración de texto */
   color: white; /* Color del texto */
   font-weight: bold; /* Peso de la fuente */
   justify-content: center; /* Alinear contenido horizontalmente */
   align-items: center; /* Alinear elementos verticalmente */
   height: 30px; /* Altura de los enlaces */
   width: 100%; /* Ancho completo */
}

/* Estilos para el botón de cierre */
.btn-close {
   position: relative; /* Posición relativa */
   left: 17rem; /* Desplazamiento hacia la izquierda */
   top: 2px; /* Desplazamiento hacia arriba */
   filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(151deg) brightness(108%) contrast(101%); /* Filtros de imagen para cambiar la apariencia */
}

/* Estilos para el botón de alternar la barra de navegación */
.navbar-toggler {
   border: 2px solid black; /* Borde sólido de 2px en color negro */
   padding: 2px 5px; /* Relleno interno */
}

/* Estilos para el botón de alternar la barra de navegación cuando tiene el foco */
.navbar-toggler:focus {
   box-shadow: none; /* Sin sombra cuando tiene el foco */
}

/* Estilos para el ícono de menú */
.icon-menu {
   width: 2rem; /* Ancho del ícono */
   height: 2rem; /* Altura del ícono */
}

/* TABLAS */
/* Estilos para los campos de entrada de hora y día */
.hora_entrada, .hora_salida, .dia_entrada, .dia_salida {
   padding-top: 3px; /* Añadir relleno en la parte superior de 3px */
   font-size: 1.3rem; /* Tamaño de fuente de 1.3 rem */
}

/* Estilos para los formularios de facturas y mensualidades */
.form_facturas, .form_mensualidad {
   height: 16rem; /* Altura de 16 rem */
}

/* Estilos para los elementos con la clase "moto" y "carro" */
.moto, .carro {
   height: 22px; /* Altura de 22px */
}

/* Estilos para la tabla completa */
.tablacompleta {
   width: 95%; /* Ancho del 95% del contenedor */
   height: calc(100vh - 28rem); /* Altura calculada como el 100% de la altura de la ventana menos 28rem */
   overflow-y: auto; /* Agregar desplazamiento vertical automático si el contenido es demasiado grande */
   overflow-x: auto; /* Agregar desplazamiento horizontal automático si el contenido es demasiado grande */
   margin: 0 auto; /* Margen automático a la izquierda y derecha para centrar horizontalmente */
}

/* Estilos para la tabla */
.tabla {
   background-color: white; /* Color de fondo blanco */
   text-align: center; /* Alineación del texto al centro */
   border-collapse: collapse; /* Colapso de bordes para que los bordes se fusionen */
   max-width: 115.5rem; /* Ancho máximo de la tabla */
   width: 100%; /* Ancho de la tabla del 100% del contenedor */
   min-width: 70rem; /* Ancho mínimo de la tabla */
   position: relative; /* Posición relativa */
}

/* Estilos para la cabecera de la tabla */
.tabla thead {
   background-color: #76C9D7; /* Color de fondo de la cabecera */
   margin: 0 auto; /* Margen automático en los lados izquierdo y derecho para centrar horizontalmente */
   position: sticky; /* Fijar la posición */
   top: 0px; /* Posición en la parte superior */
   z-index: 10; /* Índice z para que esté por encima del contenido */
   min-width: 70rem; /* Ancho mínimo de la cabecera */
   border: none; /* Sin bordes */
}

/* Estilos para las celdas de la cabecera */
.tabla th {
   top: 0; /* Posición en la parte superior */
   height: 50px; /* Altura de las celdas de la cabecera */
}

/* Estilos para las celdas de la tabla */
td {
   padding: 0; /* Sin relleno */
   height: 50px; /* Altura de las celdas */
   text-align: center; /* Alineación del texto al centro */
}

/* Estilos para el botón de eliminar */
.delete {
   width: 3rem; /* Ancho del botón de eliminar */
}

/* Estilos para el botón de eliminar al pasar el cursor sobre él */
.delete:hover {
   position: relative; /* Cambiar la posición */
   bottom: 1px; /* Desplazamiento hacia abajo */
   right: 1px; /* Desplazamiento hacia la derecha */
   cursor: pointer; /* Cambiar el cursor a una mano */
}

/* Estilos para la sección de ayuda */
.cont_ayuda ul {
   margin-left: 2rem; /* Margen izquierdo de la lista dentro de la sección de ayuda */
}

/* Estilos para los elementos de navegación en la cabecera y páginas específicas */
.header_navegacion aside,
.pag_disponibilidad aside,
.pag_facturas aside,
.pag_mensualidad aside,
.pag_reservas aside,
.pag_registro aside,
.pag_reportes aside {
   margin-left: 1rem; /* Margen izquierdo de los elementos de navegación */
}

/* Estilos para los datos políticos */
.nav-lat .pol_datos {
   font-size: 1.2rem; /* Tamaño de fuente */
   position: absolute; /* Posición absoluta */
   bottom: 1rem; /* Distancia desde la parte inferior */
}

/* Estilos para los datos políticos en la barra lateral de navegación */
.nav_lateral .pol_datos {
   font-size: 1.2rem; /* Tamaño de fuente */
   position: absolute; /* Posición absoluta */
   top: 40rem; /* Distancia desde la parte superior */
   z-index: 2; /* Índice de apilamiento */
}

/* Estilos para los datos políticos cuando se pasa el cursor sobre ellos */
.nav_lateral .pol_datos:hover,
.nav-lat .pol_datos:hover {
   background-color: transparent; /* Fondo transparente */
   font-size: 12px; /* Tamaño de fuente */
   color: black; /* Color del texto */
}

/* Estilos para los elementos de la política */
.p_poli,
.container section,
.p_poli ul {
   margin-left: 1rem; /* Margen izquierdo */
}

/* Estilos para la sección de políticas */
.politicas {
   padding: 5rem 6rem; /* Relleno */
   padding-bottom: 8rem;
   height: var(--height-main); /* Altura */
   overflow-y: auto; /* Desplazamiento vertical */
}

/* Media query para dispositivos con un ancho máximo de 768px */
@media (max-width: 768px) {
   .politicas {
      padding: 4rem; /* Relleno reducido */
      padding-bottom: 6rem;
   }
}

h3 {
   text-align: center;
   margin-top: 30px;
}

