<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/style1.css" />
</head>

<body class="body-login">
  <main class="login">
    <aside class="formulario">
      <h1>Inicio De Sesión</h1>
      <aside class="container">
        <img src="../img/logo.png" alt="logo" />
      </aside>
      <form action="../usuario/disponibilidad.html">
        <aside class="usuario">
          <input type="text" name="usuario" id="usuario" required />
          <label for="usuario">Usuario</label>
        </aside>
        <aside class="usuario">
          <input type="password" name="contraseña" id="contraseña" required />
          <label for="contraseña">Contraseña</label>
        </aside>
        <a class="reestablecer" href="../usuario/registro.html">Registrarme</a>
        <input class="btn_login" type="submit" value="Ingresar" />
      </form>
    </aside>
  </main>
</body>

</html>